{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles%}

{% block content %}

  <!-- History -->
  <div class="history">
    <div class="container">
      <h2 class="h2s dark">{% placeholder "about us text" %}</h2>
      <p>{% placeholder "about us content" %}</p>
    </div>
  </div>    

  <!-- Timeline -->
  <div class="timeline-div">
    <div class="container">
      <h2 class="h2s dark">{% placeholder "about us timeline" %}</h2>
      <ul class="timeline">
        <li><div class="tldate">{% placeholder "about us 2009" %}</div></li>

        <li>
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2009 title" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2009 date" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2009 content" %}</p>
            </div>  
          </div>  
        </li>

        <li><div class="tldate">{% placeholder "about us 2010" %}</div></li>
        <li class="timeline-inverted">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2010 title" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2010 date" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2010 content" %}</p>
            </div>  
          </div>  
        </li>

        <li><div class="tldate">{% placeholder "about us 2011" %}</div></li>
        <li class="timeline-panel">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2011 text" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2011 date" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2011 content" %}</p>
            </div>  
          </div>  
        </li>  

        <li><div class="tldate">{% placeholder "about us 2012" %}</div></li>
        <li class="timeline-inverted">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2012 text" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2012 date" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2012 content" %}</p>
            </div>  
          </div>  
        </li>  

        <li><div class="tldate">{% placeholder "about us 2013" %}</div></li>
        <li class="timeline-panel">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2013 text" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2013 date" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2013 content" %}</p>
            </div>  
          </div>  
        </li>  
        <li class="timeline-inverted">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2013 text 2" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2013 date2" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2013 content 2" %}</p>
            </div>  
          </div>  
        </li>  

        <li><div class="tldate">{% placeholder "about us 2014" %}</div></li>
        <li class="timeline-panel">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2014 text" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2014 date" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2014 content" %}</p>
            </div>  
          </div>  
        </li>  

        <li><div class="tldate">{% placeholder "about us 2015" %}</div></li>
        <li class="timeline-inverted">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2015 text" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2015 date" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2015 content" %}</p>
            </div>  
          </div>  
        </li> 

        <li class="timeline-panel">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2015 text 2" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2015 date2" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2015 content 2" %}</p>
            </div>  
          </div>  
        </li> 

        <li class="timeline-inverted">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2015 txt 3" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2015 date3" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2015 content 3" %}</p>
            </div>  
          </div>  
        </li> 

        <li><div class="tldate">{% placeholder "about us 2016" %}</div></li>
        <li class="timeline-panel">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{% placeholder "about us 2016 text" %}</h4>
              <p><small class="text-muted">{% placeholder "about us 2016 date" %}</small></p>
            </div>
            <div class="tl-body">
              <p>{% placeholder "about us 2016 content" %}</p>
            </div>  
          </div>  
        </li> 
      </ul>
    </div>
  </div>    

  <!-- People -->
  <div class="people">
    <div class="container">
      <h2 class="h2s dark">{% placeholder "about us people text" %}</h2>
      <div class="row" style="margin-left: 11%">
        <!-- Directors -->
        <div class="col-sm-4 people-cards">  
           <div class="people-img">
            {% placeholder "people1 image" %}
          </div>
          <div class="people-name">
            <h3>{% placeholder "people1 name" %}</h3>
          </div>
          <div class="people-role">
            <p>{% placeholder "people1 role" %}</p>
          </div> 
          <ul class="people-social">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div> 

        <div class="col-sm-4 people-cards">  
          <div class="people-img">
            {% placeholder "people2 image" %}
          </div>
          <div class="people-name">
            <h3>{% placeholder "people2 name" %}</h3>
          </div>
          <div class="people-role">
            <p>{% placeholder "people2 role" %}</p>
          </div> 
          <ul class="people-social">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div> 

        <div class="col-sm-4 people-cards">  
          <div class="people-img">
            {% placeholder "people3 image" %}
          </div>
          <div class="people-name">
            <h3>{% placeholder "people3 name" %}</h3>
          </div>
          <div class="people-role">
            <p>{% placeholder "people3 role" %}</p>
          </div> 
          <ul class="people-social">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div> 
      </div>

      <div class="row"style="margin-left: 11%" >
        <div class="col-sm-4 people-cards">  
          <div class="people-img">
            {% placeholder "people4 image" %}
          </div>
          <div class="people-name">
            <h3>{% placeholder "people4 name" %}</h3>
          </div>
          <div class="people-role">
            <p>{% placeholder "people4 role" %}</p>
          </div> 
          <ul class="people-social">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div> 

        <div class="col-sm-4 people-cards">  
          <div class="people-img">
            {% placeholder "people5 image" %}
          </div>
          <div class="people-name">
            <h3>{% placeholder "people5 name" %}</h3>
          </div>
          <div class="people-role">
            <p>{% placeholder "people5 role" %}</p>
          </div> 
          <ul class="people-social">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>

        <div class="col-sm-4 people-cards">  
          <div class="people-img">
            {% placeholder "people6 image" %}
          </div>
          <div class="people-name">
            <h3>{% placeholder "people6 name" %}</h3>
          </div>
          <div class="people-role">
            <p>{% placeholder "people6 role" %}</p>
          </div> 
          <ul class="people-social">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}