{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load staticfiles %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="{% page_attribute 'meta_description' %}">

        <!--<title>{% block title %}{% endblock title %}</title> -->
		<title>{%  page_attribute 'page_title' %} | Intellisoftplus </title>

    	<link rel="stylesheet" type="text/css" href="{% static 'jssocials/jssocials.css' %}" />
    	<link rel="stylesheet" type="text/css" href="{% static 'jssocials/jssocials-theme-flat.css' %}" />

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/newsblog.css' %}">
        <link rel="stylesheet" href="{% static 'css/new-styles.css' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

       	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	    <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700' rel='stylesheet'>
	    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,600' rel='stylesheet' type='text/css'>
	    <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
            var myCenter=new google.maps.LatLng(-1.2997085,36.8202496);

            function initialize()
            {
            var mapProp = {
              center:myCenter,
              zoom:16,
              mapTypeId:google.maps.MapTypeId.ROADMAP
              };

            var map=new google.maps.Map(document.getElementById("map"),mapProp);

            var marker=new google.maps.Marker({
              position:myCenter,
              });

            marker.setMap(map);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

        {% render_block "css" %}

		<!-- Start Re capture -->

		<script src='https://www.google.com/recaptcha/api.js'></script>

		<!-- End reCaptcha -->
<!-- Jquery -->
    <script src="{% static 'js/jquery1.11.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'noty-2.3.8/js/noty/packaged/jquery.noty.packaged.min.js' %}"></script>

        <!-- Jquery -->

    </head>
    <body>

	<!-- Facebook comments JavaScript SDK -->
	<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>

	<!-- End facebook comments -->


    <!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T2B5CX"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-T2B5CX');</script>
		<!-- End Google Tag Manager -->
			<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-68411233-1', 'auto');
		  ga('send', 'pageview');

		</script>

        {% cms_toolbar %}



		 <!-- {% if messages %}

			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>

    {% endif %} -->
<!-- Messages-->
        {% if messages %}

            <script>
               $(document).ready(function () {
               {% for message in messages %}
               {% if message.tags %}
                        generate('{{ message.tags }}','{{ message }} ');
                {% endif %}
                    });
                {% endfor %}
            </script>

		{% endif %}

		<!-- End Messages -->

	<!-- Header -->



	{% if request.current_page %}

		{% if request.current_page|stringformat:"s" == "Home" %}
		<div class="jumbotron " style=" background:  linear-gradient(
		  rgba(60, 62, 71, 0.5),
		  rgba(60, 62, 71, 0.5)
		  url(https://lh3.googleusercontent.com/-cjq0Pn-xhe8/V0bz1HY8sZI/AAAAAAAAASY/AdXqCICMEzAcVuRXhPlm8e5_srsUi5cqg/w424-h318-n-rw/Accenture.jpg);
			  background-size: cover;
			  background-repeat: no-repeat;
			  height: 677px;
			  margin-bottom: 0;">

		{% elif request.current_page|stringformat:"s" == "About" %}

		<div class="jumbotron " style=" background:  linear-gradient(
		  rgba(60, 62, 71, 0.5),
		  rgba(60, 62, 71, 0.5)
		  ),url(https://lh3.googleusercontent.com/-0i9aOwBaz48/Wb_9ZsvQlII/AAAAAAAAAhk/a85xEPZ77NEOa2Fivgc18NkWqRRwOtxZACL0BGAs/w424-h318-n-rw/about.jpg);
			  background-size: cover;
			  background-repeat: no-repeat;
			  height: 677px;
			  margin-bottom: 0;">

		{% elif request.current_page|stringformat:"s" == "Services" %}
		<div class="jumbotron " style=" background:  linear-gradient(
		  rgba(60, 62, 71, 0.5),
		  rgba(60, 62, 71, 0.5)
		  ),url(https://lh3.googleusercontent.com/-AH57jrbPrLc/Wb_9ZpBxscI/AAAAAAAAAhk/C0jhKB6JgZofvl4m-m1SDOEHEdEoCw-cACL0BGAs/w424-h318-n-rw/services.jpg);
			  background-size: cover;
			  background-repeat: no-repeat;
			  height: 677px;
			  margin-bottom: 0;">
			{% elif request.current_page|stringformat:"s" == "Solutions" %}
		<div class="jumbotron " style=" background:  linear-gradient(
		  rgba(60, 62, 71, 0.5),
		  rgba(60, 62, 71, 0.5)
		  ),url(https://lh3.googleusercontent.com/-x-3K5M-Hgl4/Wb_9ZmB6pgI/AAAAAAAAAhk/MO1C_Ooru6oTXWLoYuTMzqPwiMLPz74tACL0BGAs/w424-h318-n-rw/solutions.jpg);
			  background-size: cover;
			  background-repeat: no-repeat;
			  height: 677px;
			  margin-bottom: 0;">

			{% elif request.current_page|stringformat:"s" == "Partners" %}
		<div class="jumbotron blog" style=" background:  linear-gradient(
		  rgba(60, 62, 71, 0.5),
		  rgba(60, 62, 71, 0.5)
		  ),url(https://lh3.googleusercontent.com/-m6FsNQxzdpg/WcACgU4hItI/AAAAAAAAAiY/R7gIsb5CNDIwCacSfAC9s3gLFmhuLxfJQCL0BGAs/w530-h354-n-rw/partner.jpg);
			  background-size: cover;
			  background-repeat: no-repeat;
			  height: 677px;
			  margin-bottom: 0;">

		{% elif request.current_page|stringformat:"s" == "Careers" %}

		<div class="jumbotron blog" style=" background:  linear-gradient(
		  rgba(60, 62, 71, 0.5),
		  rgba(60, 62, 71, 0.5)
		  ),url(https://lh3.googleusercontent.com/-j7gn803_Kb8/Wb_9ZkH38LI/AAAAAAAAAhk/GI7RuAeWJnk9w9yNc5CsNNpid3_qVMdaQCL0BGAs/w424-h318-n-rw/tie_zpsjgeyddxo.jpg);
			  background-size: cover;
			  background-repeat: no-repeat;
			  height: 677px;
			  margin-bottom: 0;">
		{% elif request.current_page|stringformat:"s" == "Contacts" %}

		<div class="jumbotron blog" style=" background:  linear-gradient(
		  rgba(60, 62, 71, 0.5),
		  rgba(60, 62, 71, 0.5)
		  ),url(https://lh3.googleusercontent.com/-7WSsUrJFZug/Wb_9ZjsA_4I/AAAAAAAAAhk/KrZXoDE-gqYNwQJusth01qw0XC5TDay8gCL0BGAs/w424-d-h318-n-rw/contact%2Bus.jpg);
			  background-size: cover;
			  background-repeat: no-repeat;
			  height: 677px;
			  margin-bottom: 0;">
		{% elif request.current_page|stringformat:"s" == "Blog" %}

		<div class="jumbotron blog" style=" background:  linear-gradient(
		  rgba(60, 62, 71, 0.5),
		  rgba(60, 62, 71, 0.5)
		  ),url(http://blog.eai.eu/wp-content/uploads/2016/06/SPNCE-2016-Blog-3.jpg);
			  background-size: cover;
			  background-repeat: no-repeat;
			  height: 677px;
			  margin-bottom: 0;">
			<!---<div class="jumbotron blog" style="background-image: url(http://blog.eai.eu/wp-content/uploads/2016/06/SPNCE-2016-Blog-3.jpg);">-->
		{% else %}
			<div class="jumbotron">
		{% endif %}

	{% else %}
		<div class="jumbotron">
	{% endif %}

<!---

	<div class="jumbotron" style=" background:  linear-gradient(
		  rgba(60, 62, 71, 0.85),
		  rgba(60, 62, 71, 0.85)
		  ),	background-size: cover;
			  background-repeat: no-repeat;
			  height: 677px;
			  margin-bottom: 0;">

	{% with css_selector='.jumbotron' %}
			{% placeholder 'element_background_image' %}
	{% endwith %}
-->

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<img src="{% static 'images/logo2.svg' %}">
					</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
                   {% show_menu 0 1 100 100 "menu.html" %}
				</ul>
			</div>
		</nav>
		<br/><br/>
		<h3>{% placeholder "hero headline" %}</h3>
		<p>{% placeholder "hero subtext" %}</p>
	</div>


			{% block content %}{% endblock content %}




	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<ul>
						{% show_menu 0 1 100 100 "footer-menu.html" %}
					</ul>
				</div>
			</div>
			<div class="black-logo">
				<a href="/">
					{% static_placeholder 'logo' %}
				</a>
				<p>{% static_placeholder 'copyright' %}</p>
			</div>

		</div>
	</footer>





        <script>
	$(function(){
		$('.flicker-example').flickerplate(
		{
			arrows: true,
			arrows_constraint: false,
			auto_flick: true,
			auto_flick_delay: 5,
			block_text: true,
			dot_alignment: 'center',
			dot_navigation: true,
			flick_animation: 'transition-slide',
			flick_position: 1,
			theme: 'light'

		});

	});
</script>
<script>
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        || location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
           if (target.length) {
             $('html,body').animate({
                 scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    }
});
</script>

    <script>
      function countChar(val) {
        var len = val.value.length;
        if (len >= 250) {
          val.value = val.value.substring(0, 250);
        } else {
          $('#charNum').text(250 - len);
        }
      };
    </script>


	<script>

		function recaptchaCallback() {
			$('#send').removeAttr('disabled');
		};

	</script>


        {% render_block "js" %}



	<script type="text/javascript">

    function generate(type,text) {
        var n = noty({
            text        : text,
            type        : type,
            dismissQueue: true,
            timeout     : 10000,
            closeWith   : ['click'],
            layout      : 'topCenter',
            theme       : 'defaultTheme',
            maxVisible  : 10
        });
        console.log('html: ' + n.options.id);
    }

    function generateAll() {
        generate('alert');
        generate('information');
        generate('error');
        generate('warning');
        generate('notification');
        generate('success');
    }




</script>

    <script src="{% static 'jssocials/jssocials.min.js' %}"></script>
    <script>
        $("#share").jsSocials({
            shares: ["twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon","email", "whatsapp"]
        });
    </script>

    </body>
</html>

