{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles%}

{% block content %}

	<!-- Google partners -->
	<div class="partners-long">
		<div class="container">
			<h2 class="h2s">{% placeholder "partner 1" %}</h2>
			<div class="row">
				<div class="partners-div">
					<div class="col-sm-6">
						<div class="partners-img">
							{% placeholder "partner 1 product 1 image" %}
						</div>
					</div>	
					<div class="col-sm-6">
						<div class="partners-text">
							<h3>{% placeholder "partner 1 product 1 text" %}</h3>
							<p>{% placeholder "partner 1 product 1 content" %}</p>
						</div>
					</div>		
				</div>
			</div>	

			<div class="row">
				<div class="partners-div">
					<div class="col-sm-6">
						<div class="partners-img">
							{% placeholder "partner 1 product 2 image" %}
						</div>
					</div>	
					<div class="col-sm-6">
						<div class="partners-text">
							<h3>{% placeholder "partner 1 product 2 text" %}</h3>
							<p>{% placeholder "partner 1 product 2 content" %}</p>
						</div>
					</div>		
				</div>
			</div>

		<h2 class="h2s">{% placeholder "partner 2" %}</h2>
		<div class="row">
				<div class="partners-div">
					<div class="col-sm-6">
						<div class="partners-img">
							{% placeholder "partner 2 product 1 image" %}
						</div>
					</div>	
					<div class="col-sm-6">
						<div class="partners-text">
							<h3>{% placeholder "partner 2 product 1 text" %}</h3>
							<p>{% placeholder "partner 2 product 1 content %}</p>
						</div>
					</div>		
				</div>
			</div>
		</div>	
	</div>
	</div>


{% endblock content %}
