aldryn-apphooks-config==0.2.7
aldryn-boilerplates==0.7.4
aldryn-categories==1.0.3
aldryn-common==1.0.3
aldryn-newsblog==1.2.3
aldryn-people==1.2.1
aldryn-reversion==1.0.9
aldryn-translation-tools==0.2.1
Babel==2.3.4
backport-collections==0.1
cmsplugin-css-background==0.1.0
cmsplugin-filer==1.0.1
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.8.12
django-appconf==1.0.1
django-appdata==0.1.5
django-classy-tags==0.7.2
django-cms==3.3.1
django-crispy-forms==1.6.0
django-excel==0.0.4
django-filer==1.1.1
django-formtools==1.0
django-mptt==0.8.3
django-parler==1.6.2
django-phonenumber-field==1.1.0
django-polymorphic==0.8.1
django-registration-redux==1.4
django-reversion==1.8.7
django-sekizai==0.9.0
Django-Select2==4.3.2
django-sortedm2m==1.2.2
django-taggit==0.20.1
django-treebeard==4.0.1
djangocms-admin-style==1.1.0
djangocms-column==1.6.0
djangocms-googlemap==0.4.0
djangocms-inherit==0.1.1
djangocms-installer==0.8.7
djangocms-link==1.7.2
djangocms-style==1.7.0
djangocms-text-ckeditor==3.0.1
easy-thumbnails==2.3
gunicorn==19.4.5
html5lib==0.9999999
lxml==3.6.0
phonenumbers==7.4.4
phonenumberslite==7.4.4
Pillow==3.2.0
psycopg2==2.6.1
pyexcel==0.2.4
pyexcel-io==0.2.1
pyexcel-webio==0.0.7
python-dateutil==2.5.3
python-slugify==1.2.0
pytz==2016.3
six==1.10.0
static3==0.7.0
texttable==0.8.4
tzlocal==1.2.2
Unidecode==0.4.19
YURL==0.13
python-decouple==3.1
