{% extends "basereg.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %} Password Reset {% endblock title %}

{% block content %}
  {% include 'navbar.html' %}
<div class='col-sm-6 col-sm-offset-3'>
  <br/>
<p class='lead'>Enter your email.</p>
  <p><small>You will receive a password reset link.</small></p>
<form method="post" action=".">
  {% csrf_token %} 
    {{ form|crispy }}

  <input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}" />
</form>
</div>
{% endblock %}


