{% extends "aldryn_newsblog/two_column.html" %}
{% load i18n cms_tags %}
            {% block newsblog_content %}
                <div class="aldryn-newsblog-list">
                    <br/>
                    {% for article in article_list %}
                        {% include "aldryn_newsblog/includes/article.html" %}
                    {% empty %}
                        <p class="well">{% trans "No items available" %}</p>
                    {% endfor %}

                </div>
            {% endblock %}

            {% block newsblog_footer %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2">
                <div class="aldryn-newsblog-pagination">
                    {% include "aldryn_newsblog/includes/pagination.html" %}
                </div>
            </div>
        </div>
    </div>
            {% endblock %}